{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.1036"}
        org.clojure/tools.namespace {:mvn/version "1.1.0"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.14.1"}
        org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}

 :tools/usage {:ns-default hf.depstar}

 :aliases
 {;; for help: clojure -A:deps -T:build help/doc
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.1.2" :git/sha "0719a09"}}
          :ns-default build}

  ;; running tests/checks of various kinds:
  :test ; can also run clojure -X:test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.4.0" :git/sha "334f2e2"}}
   :exec-fn cognitect.test-runner.api/test}

  ;; the following aliases are all tests for particular issues:
  :test-issue-5
  {:replace-deps {clj-time/clj-time  {:mvn/version "0.15.2"}
                  java-time-literals {:mvn/version "2018-04-06"}}}
  :test-issue-7
  {:replace-deps {javax.xml.bind/jaxb-api {:mvn/version "2.3.0"}}}
  :test-issue-22
  {:replace-deps {javax.xml.bind/jaxb-api {:mvn/version "2.3.0"}}}
  :test-issue-64
  {:extra-paths ["test-64"]}
  :direct-linking ["-Dclojure.compiler.direct-linking=true"]
  :test-issue-65
  {:extra-paths ["test-65"]}
  :test-issue-66
  {:replace-deps {org.danielsz/lang-utils {:mvn/version "0.1.3"}}}}}
